.Acceuil{
  position: relative;
}
.slider{
    overflow: hidden;
    position: relative;
} 
.slider img{
    width: 100%;
    height: 100%;
  
   
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.slider h1 {
  position: absolute;
  top: 20%; /* positionnement vertical */
  left: 30%; /* positionnement horizontal */
  transform: translate(-50%, -50%); /* pour centrer le texte */
  color: rgba(238, 192, 23, 0.774); /* couleur du texte */
  font-weight: 900; /* pour mettre le texte en gras */
  font-size: 40px;
}
.slider h2 {
  position: absolute;
  top: 40%; /* positionnement vertical */
  left: 20%; /* positionnement horizontal */
  transform: translate(-50%, -50%); /* pour centrer le texte */
  color: rgba(238, 192, 23, 0.774); /* couleur du texte */
  font-weight: 900; /* pour mettre le texte en gras */
  font-size: 40px;

}
 






.slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
 
 /*--------form-----------*/
.slide-form h2 {
  margin-top: 10px;
  margin-left: 10px;
  
}
.slide-form p {
  margin-top: 15px;
  margin-left: 10px;
  
}
.slide-form {
  position: absolute;
  top: 30%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.7);
   width: 30%;
   height: 60%;  
  border-radius: 5px;
  color: white;
}
 .slide-form input {
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 20px;
  font-size: 18px;
} 


 .slide-form .flex_space input:nth-child(odd) {
  margin-right: 10px;
  margin-left: 10px;
} 
.slide-form .submit {
  background: #31b675;
  color: darksalmon;
}
/*--------form-----------*/
@media screen and (max-width: 768px) {
  .slider {
    height: 65vh;
  }
  
  .slide img {
    height: 65vh;
  }
  
  .slide-form {
    left: 5%;
    top: 32%;
    width: 90%;
    height: 55vh;
  }
}
 

  
  